/*AUTHOR: Lucksi
Copyright © 2021 Lucksi
License: GNU General Public License v3.0*/

@import url("Style.css");

.Cards {
    display: block;
    padding: 12px 14px 10px;
    margin-left: 30px;
}

.Cards a {
    text-decoration: none;
}

.Cards button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 60px;
    margin-top: 120px;
}

.Cards button:hover {
    background-color: #ffffff;
    color: #000000;
}

.Cards img {
    height: 80px;
    width: 80px;
}

#Username , #Website, #Phone {
    display: inline-block;
    margin-left: 20px;
    border: 3px solid;
    height: fit-content;
    width: 300px;
    border-color: #000000;
    border-radius: 10px ;
}

#Username {
    background-color: #ff00005d;
}

#Website {
    background-color: rgba(0, 128, 0, 0.377);
}

#Phone {
    background-color: #350f7c;
}

.Footer {
    display:none;
    margin-left: auto;
    margin-right: auto;
    animation: dissolvent 1s 1;
}

.Footer a {
    text-decoration: none;
}

#Exc {
    height: 80px;
    width: auto;
}

.Footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 70px;
    width: auto;
}
 
#Arrow {
    margin-top: 10px;
    width: 0px; 
    height: 0px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-width: 30px;
    border-top: 30px solid #ffffff;
}

#Arrow:hover {
    border-top: 30px solid #00ffff;
}