@import url("../CSS/mobile.css");

.links{
    margin-top: 40px;
    
}
.links a{
    display: block;
    color: #faebd7;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    padding-top: 20px;
}
.links a:hover{
    animation: dissolv 2s infinite;
}

@keyframes dissolv{
    50%{color: #20b2aa;}
    100%{color: #faebd7;}
}
