/*AUTHOR: Lucksi
Copyright © 2021 Lucksi
License: GNU General Public License v3.0*/

@import url("Style.css");

.Cards {
    display: block;
    padding: 12px 14px 10px;
    margin-left: 30px;
}

.Cards a {
    text-decoration: none;
}

.Cards button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 60px;
    margin-top: 125px;
    color: #ffffff;
}

.Cards button:hover {
    background-color: #0000ff;
    color: #ffffff;
}

.Cards img {
    height: 80px;
    width: 80px;
}

#Username , #Website, #Phone {
    display: inline-block;
    margin-left: 20px;
    border: 3px solid;
    height: fit-content;
    width: 300px;
    border-color: #000000;
    border-radius: 10px ;
}

#Username {
    background-color: #00a2ffa4;
}

#Website {
    background-color: #00800060;
}

#Phone {
    background-color: #935bfaf6;
}

.Footer {
    display:none;
    margin-left: auto;
    margin-right: auto;
    animation: dissolvent 1s 1;
}

.Footer a {
    text-decoration: none;
}

.Footer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 70px;
    width: auto;
}

#Exc {
    height: 80px;
    width: auto;
}
 
#Arrow {
    margin-top: 10px;
    width: 0px; 
    height: 0px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-width: 30px;
    border-top: 30px solid #000000;
}

#Arrow:hover {
    border-top: 30px solid #0000ff;
}