@import url("Style.css");

.Data {
    display:table;
    margin-right: auto;
    margin-left: auto;
    width: fit-content !important;
    border: 3px solid;
    border-color: #000000;
    border-radius: 10px;
}

.Data p {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: #000000;
}

@media only screen and (min-width: 200px) and (max-width: 711px) {
    
    .Data p {
        font-size: 14px;
    }
}